.display-section {
  display: grid;
  gap: 5px;
  grid-template-rows: 2fr 2fr 1fr;
  margin-top: 5%;
  margin-left: 9%;
  margin-right: 9%;
  max-height: 35vh;
}
.display__input {
  background-color: inherit;
  color: $font-color;
  overflow-wrap: break-word;
  resize: none;
  min-height: 1rem;
  overflow-y: auto;
  text-align: right;
  scroll-behavior: smooth;
  line-height: 25px;
  font-size: 2rem;
}

.display__input--result, .display__input--history {
  color: $font-color--dark;
}

.display__input--history {
  white-space: pre-line;
  line-height: 25px;

}

.modal-content__text {
  display: none;
  color: $font-color;
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
}

.modal-content {
  padding: 10px 25px;
  border-radius: 20px;
  display: block;
  min-height: 28px;
  transition: width 0.4s ease-in-out;
  width: 0%;
  background-color: $accent-color;
}
.transition-in--alert-icon {
  opacity: 1 !important;
}

.transition-in--modal {
  width: 90% !important;
}

.display__alert-icon {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
}

.display__alert-icon:active {
  transform: scale(0.9);
}