
.display__input {
  background-color: inherit;
  color: $font-color;
  border: none;
  overflow-wrap: break-word;
  resize: none;
  min-height: 1rem;
  max-height: 75px;
  overflow-y: scroll;
  text-align: right;
  margin-left: 9%;
  margin-right: 9%;
}

.display__input--result, .display__input--history {
  color: $font-color--dark;
}
