.keys-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.calculator__keys {
  display: grid;
  grid-column: span 4;
  grid-row: span 1;
}

.calculator__keys--top {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $accent-color;
}

.calculator__keys--left {
  grid-column: span 3;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $font-color;
}

.calculator__keys--right {
  grid-column: 4;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: 1fr;
  color: $accent-color;
}

.calculator__keys--parenthesis {
  display: none;
}

.calculator__key {
  background-color: inherit;
  border: none;
  padding: 0px;
  color: inherit;
}

.calculator__key-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}

.calculator__key--solve {
  font-weight: bolder;
  color: $font-color;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: $accent-color;
  border-radius: 50%;
}
.calculator__key--solve:active {
  transform: scale(0.9);
}