@import 'colors.scss';
@import 'normalize.scss';
@import 'display.scss';
@import 'keys.scss';

:root {
  background-color: $background-color;
  height: 100vh;
}
html, body {
  height: 100vh;
  margin: 0px;
}

.calculator {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
