@import 'colors.scss';
@import 'normalize.scss';
@import 'display.scss';
@import 'keys.scss';

:root {
  background-color: $background-color;
  height: 100vh;
  width: 100%;
}
html, body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
}

.calculator {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

@media screen and (min-width: 800px) {
  .calculator {
    max-width: 600px;
    height: 100%;
  }
} 
